<!-- templates/room.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}GAME LOBBY{% endblock %}
{% block link %}{% endblock %}

{% block content %}
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100vh; text-align: center;">
        <pre>
         *+         ++         #+         *=         +%         +%         +*         +*         *+     
       %=::*     %*---=#      +::*     %#=---*%     +::+       *::+      *---=*%     *::=%     #=---+#  
     *=#*----=% #*--+----# *+**----=% %=-=-----# %=*#=+#+=  %=----**+# #----+--*# %=----*#=* #=----*--*@
     +--+====+# #++*=+++*@ +--=-===+# ++=+++++*@ #+-----++# #+===-=--+ @*+++=*++# #+====+--+ @*++++=+++ 
      @%***#@      @@@@     @%#**#%@     @@@@     @%*++#%@   @%#**#%@     @@@@      @#***%@     @@@@    
       %+##       @+-=%*%     *##       %%#+%%    %#*==*%      %##*     %#%=-*@       ##+%     %%+*%@   
        @##       #% %#@      @##       @% %*@      ##*#       ###@      @#% #%       ##@      @*% @%   
        </pre>
        <pre>
                                                                            _____                                                                                            
            _____           _____                ___________           _____\    \         _____                   ____     ______  ______  ______  ______   ______   _____  
       _____\    \_       /      |_             /           \         /    / |    |       |\    \              ____\_  \__  \     \|\     \ \     \|\     \ |\     \ |     | 
      /     /|     |     /         \           /    _   _    \       /    /  /___/|        \\    \            /     /     \  |     |\|     | |     |\|     |\ \     \|     | 
     /     / /____/|    |     /\    \         /    //   \\    \     |    |__ |___|/         \\    \          /     /\      | |     |/____ /  |     |/____ /  \ \           | 
    |     | |_____|/    |    |  |    \       /    //     \\    \    |       \                \|    | ______ |     |  |     | |     |\     \  |     |\     \   \ \____      | 
    |     | |_________  |     \/      \     /     \\_____//     \   |     __/ __              |    |/      \|     |  |     | |     | |     | |     | |     |   \|___/     /| 
    |\     \|\        \ |\      /\     \   /       \ ___ /       \  |\    \  /  \             /            ||     | /     /| |     | |     | |     | |     |       /     / | 
    | \_____\|    |\__/|| \_____\ \_____\ /________/|   |\________\ | \____\/    |           /_____/\_____/||\     \_____/ |/_____/|/_____/|/_____/|/_____/|      /_____/  / 
    | |     /____/| | ||| |     | |     ||        | |   | |        || |    |____/|          |      | |    ||| \_____\   | / |    |||     | ||    |||     | |      |     | /  
     \|_____|     |\|_|/ \|_____|\|_____||________|/     \|________| \|____|   | |          |______|/|____|/ \ |    |___|/  |____|/|_____|/ |____|/|_____|/       |_____|/   
            |____/                                                         |___|/                             \|____|
        </pre>
        <br>
        Create a new Lobby or join an already existing one:<br>
        <input id="room-name-input" type="text" size="100"><br>
        <input id="room-name-submit" type="button" value="Join">
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}  <!-- This line keeps inherited scripts and allows adding more -->
    <script src="{% static 'room.js' %}"></script>
{% endblock %}
